// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land) { //width < 1200px?
    font-size: 56.25%;
    background-color: red;
  }

  @include respond(tab-port) { //width < 600px?
    font-size: 50%; //1rem = 8px, 8/16 = 50%
    background-color: blue;
  }

  @include respond(phone) { //width < 300px?
    font-size: 31.25%; //5px
    background-color: yellow;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
